<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ relative_url }}">home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <p class="sidebar-nav-item">
        <!-- <a class="sidebar-nav-icons" href="https://github.com/pascalewalters" target="blank"><img src="{{ site.baseurl }}public/icons/github-icon.png" alt="Github" width="28" height="28"></a> -->
        <a class="sidebar-nav-icons" href="https://github.com/pascalewalters" target="blank"><img src="{{ "/public/icons/github-icon.png" | relative_url}}" alt="Github" width="28" height="28"></a>
        <!-- <a class="sidebar-nav-icons" href="https://www.instagram.com/pascale.walters/" target="blank"><img src="{{ site.baseurl }}public/icons/instagram-icon.png" alt="Instagram" width="28" height="28"></a> -->
        <a class="sidebar-nav-icons" href="https://www.instagram.com/pascale.walters/" target="blank"><img src="{{ "/public/icons/instagram-icon.png" | relative_url}}" alt="Instagram" width="28" height="28"></a>
        <!-- <a class="sidebar-nav-icons" href="https://www.linkedin.com/in/pascalewalters/" target="blank"><img src="{{ site.baseurl }}public/icons/linkedin-icon.png" alt="LinkedIn" width="28" height="28"></a> -->
        <a class="sidebar-nav-icons" href="https://www.linkedin.com/in/pascalewalters/" target="blank"><img src="{{ "/public/icons/linkedin-icon.png" | relative_url}}" alt="LinkedIn" width="28" height="28"></a>
        <!-- <a class="sidebar-nav-icons" href="https://scholar.google.com/citations?user=3KilEPoAAAAJ&hl=en" target="blank"><img src="{{ site.baseurl }}public/icons/scholar-icon.png" alt="Google Scholar" width="28" height="28"></a> -->
        <a class="sidebar-nav-icons" href="https://scholar.google.com/citations?user=3KilEPoAAAAJ&hl=en" target="blank"><img src="{{ "/public/icons/scholar-icon.png" | relative_url}}" alt="Google Scholar" width="28" height="28"></a>
        <!-- <a class="sidebar-nav-icons" href="https://www.strava.com/athletes/44815197" target="blank"><img src="{{ site.baseurl }}public/icons/strava-icon.png" alt="Strava" width="28" height="28"></a> -->
        <a class="sidebar-nav-icons" href="https://www.strava.com/athletes/44815197" target="blank"><img src="{{ "/public/icons/strava-icon.png" | relative_url}}" alt="Strava" width="28" height="28"></a>
      </p>
    </nav>

    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
